body {
    --base: #1e1e2e;
    --surface-0: #313244;
    --surface-1: #45475a;
    --text: #cdd6f4;
    --blue: #89b4fa;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --peach: #fab387;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --crust: #11111b;
}

@media (prefers-color-scheme: light) {
    body {
        --base: #eff1f5;
        --surface-0: #ccd0da;
        --surface-1: #bcc0cc;
        --text: #4c4f69;
        --blue: #1e66f5;
        --mauve: #8839ef;
        --red: #d20f39;
        --peach: #fe640b;
        --green: #40a02b;
        --teal: #179299;
        --crust: #dce0e8;
    }
}